
.search_container {
    position: relative;
   
	margin-top:7px;
}
.searchbar {
    align-items:center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease;
    max-width: 200px; /* 초기 너비 설정 */
    width: 100%;
    background-color: rgba(64, 137, 159, 0.5);
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.searchbar .search_main {
    border: none;
    font-size: 15px;
    outline: none;
    float: left;
    width: 0; 
    transition: width 0.3s ease; 
}

search_btn {
    background-color: rgba(64, 137, 159, 0.5);
    color: rgba(64, 137, 159, 0.5);
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 15px;
    float: left;
}

.searchbar:hover .search_main,
.searchbar:focus-within .search_main {
    width: 150px;
}

